<div id="<%= dom_id otro %>">
  <p>
    <strong>Tamaño:</strong>
    <%= otro.tamaño %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= otro.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= otro.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= otro.descripcion %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= otro.pedido_id %>
  </p>

</div>
