<p style="color: green"><%= notice %></p>

<%= render @otro %>

<div>
  <%= link_to "Edit this otro", edit_otro_path(@otro) %> |
  <%= link_to "Back to otros", otros_path %>

  <%= button_to "Destroy this otro", @otro, method: :delete %>
</div>
