<div id="<%= dom_id pedido %>">
<%= form_for @pedido, url:pedidos_path do |f| %>
  <p>
    <h1>Resumen del Pedido</h1>
    <p>Detalles del pedido:</p>
      <ul>
        <li>Cliente:  
        <%= f.text_field :a_nombre_de %><%= @pedido.a_nombre_de %></li>
        <li>Fecha: <%= f.date_field :fecha_de_entrega %><%= @pedido.fecha_de_entrega %></li>
        <!-- Otros detalles del pedido -->
      </ul>
  
      <h2>Tortas en el pedido:</h2>
      <ul>
        <% @tortas.each do |torta| %>
          <li>
          <%if torta.tamaño == "Chica" %> 
          <% @p='precioC' %>
          <%end%> 
          <%if torta.tamaño == "Mediano" %> 
          <% @p='precioM' %>
          <%end%>
          <%if torta.tamaño == "Grande" %> 
          <% @p='precioG' %>
          <%end%>
            <%= torta.nombre %> - Unidades:<%=torta.cantidad %> - Tamaño:<%= torta.tamaño %> - Precio:<%= Precio.find_by(nombre:torta.nombre).send(@p) * torta.cantidad%>
          </li>
        <% end %>
      </ul>

      <h2>Tartas en el pedido:</h2>
      <ul>
        <% @tartas.each do |tarta| %>
          <li>
            <%= tarta.nombre %> - Unidades:<%=tarta.cantidad %> - Tamaño:<%= tarta.tamaño %> - <%= number_to_currency(tarta.precio) %>
          </li>
        <% end %>
      </ul>
      <h2>Cookies en el pedido:</h2>
      <ul>
        <% @macaroons.each do |mac| %>
          <li>
          <%if mac.tamaño == "Chica" %> 
          <% @p='precioC' %>
          <%end%> 
          <%if mac.tamaño == "Mediano" %> 
          <% @p='precioM' %>
          <%end%>
          <%if mac.tamaño == "Grande" %> 
          <% @p='precioG' %>
          <%end%>
          <%if mac.nombre == "Chipá" %> 
          <% @p='precioC' %>
          <%end%>
          
            <%= mac.nombre %> - Unidades:<%=mac.cantidad %> - Tamaño:<%= mac.tamaño %> - Precio:<%= Precio.find_by(nombre:mac.nombre).send(@p) * mac.cantidad%>
          </li>
        <% end %>
      </ul>
      <h2>Budines, brownies y Streusels en el pedido:</h2>
      <ul>
        <% @otros.each do |o| %>
          <li>
          <%if o.tamaño == "Chica" %> 
          <% @p='precioC' %>
          <%end%> 
          <%if o.tamaño == "Grande" %> 
          <% @p='precioG' %>
          <%end%>
          
            <%= o.nombre %> - Unidades:<%=o.cantidad %> - Tamaño:<%= o.tamaño %> - Precio:<%= Precio.find_by(nombre:o.nombre).send(@p) * o.cantidad%>
          </li>
        <% end %>
      </ul>
      <h2>Desayunos personalizados en el pedido:</h2>
      <ul>
        <% @desayunos.each do |desayuno| %>
          <li>
            <%= desayuno.descripcion %> - <%= number_to_currency(desayuno.precio) %>
          </li>
        <% end %>
      </ul>
  </p>
  <%@consulta_texto="¡Hola Cami!

Espero que estés teniendo un buen día. Quisiera hacer un pedido de algunos productos deliciosos para [fecha del pedido]. Aquí están los detalles:

**Pedido:**

- [Producto 1]: [Detalles del producto 1]
- [Producto 2]: [Detalles del producto 2]
- [Producto 3]: [Detalles del producto 3]
- ...

**Detalles Adicionales:**

- Fecha de entrega: [Fecha de entrega deseada]
- Dirección de entrega: [Dirección de entrega]
- Información adicional: [Cualquier nota o requisito especial]

Por favor, avísame si necesitas más información o si hay algún problema con mi pedido. ¡Estoy emocionado/a de probar tus deliciosos productos!

¡Gracias y saludos!
[Tu Nombre]
[Tu Número de Contacto]"%>
<a href="<%= 'https://wa.me/2216203959?text=' + URI.encode_www_form_component(@consulta_texto) %>" class="boton">Enviar pedido</a>
</div>
<% end %>