<div id="<%= dom_id tart %>">
  <p>
    <strong>Nombre:</strong>
    <%= tart.nombre %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= tart.tamaño %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= tart.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tart.descripcion %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= tart.pedido_id %>
  </p>

</div>
