<div id="<%= dom_id desayuno %>">
  <p>
    <strong>Nombre:</strong>
    <%= desayuno.nombre %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= desayuno.tamaño %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= desayuno.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= desayuno.descripcion %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= desayuno.pedido_id %>
  </p>

</div>
