<div id="<%= dom_id tartum %>">
  <p>
    <strong>Nombre:</strong>
    <%= tartum.nombre %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= tartum.tamaño %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= tartum.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tartum.descripcion %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= tartum.pedido_id %>
  </p>

</div>
