<p style="color: green"><%= notice %></p>

<%= render @tartum %>

<div>
  <%= link_to "Edit this tartum", edit_tartum_path(@tartum) %> |
  <%= link_to "Back to tarta", tarta_path %>

  <%= button_to "Destroy this tartum", @tartum, method: :delete %>
</div>
