<div id="<%= dom_id macaroon %>">
  <p>
    <strong>Nombre:</strong>
    <%= macaroon.nombre %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= macaroon.tamaño %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= macaroon.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= macaroon.descripcion %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= macaroon.pedido_id %>
  </p>

</div>
