<h1>New foto</h1>

<%= form_with(model: @foto, local: true) do |form| %>
  <%= form.file_field :image, id: "archivo-input" %>
  titulo
  <%= form.text_field :titulo %>
  descripcion
  <%= form.text_area :descrip, rows:5, cols:40 %>
  <%= form.submit "Subir imagen" %>
<% end %>

<script>
  $(document).on('change', '#archivo-input', function() {
    var nombreArchivo = $(this).val().split("\\").pop(); // Obtiene el nombre del archivo
    $("input[name='nombre']").val(nombre); // Actualiza la variable oculta
  });
</script>



<br>

<div>
  <%= link_to "Back to fotos", fotos_path %>
</div>
