<p style="color: green"><%= notice %></p>

<h1>Precios</h1>

<div id="precios">
  <% @precios.each do |precio| %>
    <%= precio.nombre %>
    <%= precio.precioC %>
    <%= precio.precioM %>
    <%= precio.precioG %>
    
    <p>
    <%= link_to "Edit this precio", edit_precio_path(precio) %> |
      <%= link_to "Show this precio", precio %>
    </p>
  <% end %>
</div>

<%= link_to "New precio", new_precio_path %>
<%= link_to "Modificar Fotos", fotos_path %>
